
  
</main>
  <footer class="footer">
 
  <div class="footer-links">
    <a id="footer-link" href="https://github.com/yourhandle" target="_blank">GitHub</a>
    <a id="footer-link" href="https://linkedin.com/in/yourhandle" target="_blank">LinkedIn</a>
    <a id="footer-link" href="mailto:you@example.com">Email</a>
  </div>
  <hr>
   <p>&copy; <%= new Date().getFullYear() %> Shane. All rights reserved.</p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>