<%- include("partials/header.ejs") %>
<div class="about-container">
    <section class="about">
      <h1>About Me</h1>
      <p class="introduction">
        Hi! I'm <strong>Maina</strong>, a passionate <strong>web developer</strong> based in Kenya. I specialize in building responsive websites and web apps using modern tools and clean code.
      </p>

      <h2>My Journey</h2>
      <p class="description">
        I started coding in college and quickly fell in love with solving complex problems. After studying <strong>Bachelor in Business Information Technology</strong> , I’ve worked on projects ranging from personal portfolios to full-stack applications.
      </p>

      <h2>Skills & Tools</h2>
      <ul >
        <li id="skills"><strong>Frontend:</strong> HTML, CSS, JavaScript, React, and Bootstrap</li>
        <li id="skills"><strong>Backend:</strong> Node.js, Django and DjangoRestFramework Python, SQL</li>
        <li id="skills"><strong>Other Tools:</strong> Git, GitHub</li>
        <li id="skills"><strong>Project Management:</strong>  I have also worked as a project manager in construction sites across the country.</li>
      </ul>

      <h2>What Makes Me Different</h2>
      <p class="description">
        I’m a problem-solver at heart. I care about performance, user experience, and building products that matter. I bring a calm, detail-oriented approach to every project I touch.
      </p>

      <h2>Beyond Code</h2>
      <p class="description">
        When I’m not coding, you’ll find me sketching, exploring the outdoors, or learning about emerging issues across the globe. I believe great developers are always curious.
      </p>

      <h2>Let’s Connect</h2>
      <p class="description">
        Interested in working together or just want to say hi? <a href="contact">Let’s talk →</a>
      </p>
    </section>
  </div>

<%- include("partials/footer.ejs") %>
