<%- include("partials/header.ejs") %>
<div class="home-main">
    <div class="intro">
        <h1 class="me">Hello, I am Maina Ngugi.</h1>
        <p class="skill">A web developer from Nairobi, Kenya. I create websites to assist people reach further online. </p>
        <a href="projects" class="projects">My Projects</a>
    </div>
    <div class="dp">
        <img src="images/dp.jpg" alt="My Dp">
    </div>
    
</div>
<%- include("partials/footer.ejs") %>